@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;1,500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.bakery h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.hidden1 {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}

.section1 {
  background-image: url(./images/heather-barnes-WbZesfqwR-A-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.9;
}
header {
  transition: background-color 0.3s ease;
  z-index: 0;
  height: 60px;
}
header img {
  width: 60px;
  height: 40px;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}
.main-h1 {
  padding: 50px;
  margin-left: 140px;
  font-family: "Playfair Display", serif;
}
.bake {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}
footer img {
  width: 80px;
  height: 40px;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
.opening {
  /* z-index: -1; */
  /* position: relative; */
  /* background-color: rgba(255, 255, 255, 0.5);  */
  /* width: 100%; */
  /* max-width: 800px; Adjust as per your design */
  /* margin: 0 auto;
  padding: 20px; */
}
.card1 i {
  border-radius: 50%;
}
.card2 i {
  background-color: #e6a79b;
}
.btn1 {
  background-color: #e6a79b;
}
.fotters i {
  width: 48px;
  height: 48px;
  padding: 4px;
  border-radius: 50%;
}
.fotters i:hover {
  background-color: #c49991;
}
.links i {
  width: 48px;
  height: 48px;
  padding: 2px;
  border-radius: 50%;
}
.links i:hover {
  background-color: #c49991;
}
.section3 {
  background-color: #e6a79b;
}
.btn2 {
  background-color: #e6a79b;
}
.btn2:hover {
  background-color: #f7f7f7;
  color: #000;
}
.contact-section {
  background-image: url(./images/contact.jpg);
  background-position: center;
  background-size: cover;
}

.section4 {
  background: url(./images/loop-video.mp4) center center fixed;
  background-size: cover;
  background-position: center;
}
.about-navbar {
  color: #000;
}
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.section6 {
  background-color: #f7f7f7;
}
input,
textarea {
  border-bottom: 1px solid #fff;
  background-color: transparent;
  transition: 1s;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
}
.bx-menu {
  display: none;
}
#contact-nav,
.menu-nav {
  top: 80px;
  margin-top: -50px;
}
#contact-nav,
.menu-nav ul {
  color: #000;
}
@media screen and (min-width: 250px) and (max-width: 630px) {
  header {
    height: 100px;
    justify-content: space-between;
    padding: 20px;
  }
  #contact-nav,
  .menu-nav ul {
    color: #fff;
  }
  #main-div {
    display: none;
  }
  nav ul {
    position: absolute;
    top: 80px;
    left: 0;
    background: #333;
    width: 100%;
    color: #fff;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  #contact-nav {
    position: absolute;
    top: 60px;
    left: 0;
    background: #333;
    width: 100%;
    color: #fff;
    transition: max-height 0.5s;
    z-index: 1;
  }
  ul li {
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .btn1,
  .btn3 {
    margin: 4px;
  }
  .quick,
  .span1 {
    text-align: center;
    margin: 5px;
  }
  .product {
    justify-content: center;
    margin: auto;
  }
  .opening h2 {
    text-align: center;
  }
  .baker-img {
    margin-top: -50px;
    border-radius: 16px;
  }
  .get {
    text-align: center;
  }
  .slide1 p {
    font-size: 22px;
  }
  .slide1 img {
    border-radius: 16px;
  }
  .contact {
    text-align: center;
  }
  .contact-1 {
    margin-top: 50px;
  }
  .footer-img {
    margin: auto;
    width: 120px;
  }
  .bakery h1,
  p {
    text-align: center;
  }
  .slide1 button {
    padding: 20px;
    font-size: 22px;
    border-radius: 16px;
  }
  .bx-menu {
    display: block;
  }
  header img {
    width: 90px;
    height: 70px;
    margin-top: 15px;
  }
  .hero1 {
    min-height: 100vh;
  }
  .buttons {
    margin: auto;
  }
  nav {
    display: none;
  }
  .card2 {
    height: 100vh;
  }
  .section6 {
    height: 100vh;
    margin-top: 200px;
  }
  .section6 p {
    font-size: 26px;
  }
  .section6 h1 {
    text-align: center;
  }
  .about-p p {
    text-align: left;
  }
  .image1 {
    text-align: left;
  }
  .image2 {
    text-wrap: nowrap;
  }
  .about-p {
    margin-top: -60px;
  }
  .main-h1 {
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .section2 {
    margin-top: 300px;
  }
  .footer1 {
    margin-top: -15px;
  }
  .footer-p {
    text-align: left;
  }
  .section3 {
    height: 100vh;
  }
  .section-menu {
    margin-top: 140px;
  }
  .crossiants h3 {
    text-align: center;
  }
  .increase {
    margin: auto;
    padding: 10px;
  }
  .button1 {
    display: flex;
    justify-content: center;
  }
  .btn2 {
    margin: 4px;
  }
}
